.app-side-bar
  %div.compose
    %input{:type => 'button', :style => "background-color: #F5F5F5;",:value =>"Compose"}
  %div.menu
    %span{:id => 'sidecontent_1', :class => 'side_content'}= link_to 'Inbox'
    %span{:id => 'sidecontent_2', :class => 'side_content'}= link_to 'Spam'
    %span{:id => 'sidecontent_3', :class => 'side_content'}= link_to 'Drafts'
    %span{:id => 'sidecontent_4', :class => 'side_content'}= link_to 'Sent'

:javascript
  $('.side_content').hover(function(){
    id = $(this).attr('id');
    $(this).focus();
  }, function(){
        // change to any color that was previously used.
        $(this).css('background-color','#4285f4');
    }
  );
