.app-side-bar
  %div.compose
    %input{:type => 'button', :style => "background-color: #F5F5F5;",:value =>"Compose"}
  %div.menu
    %span{:id => 'inbox', :class => 'side_content'}= link_to 'Inbox'
    %span{:id => 'spam',  :class => 'side_content'}= link_to 'Spam'
    %span{:id => 'draft', :class => 'side_content'}= link_to 'Drafts'
    %span{:id => 'draft', :class => 'side_content'}= link_to 'Sent'

:javascript
  $('.side_content').hover(function(){
    id = $(this).attr('id');
    $("#"+id).css("background-color", "yellow")
  }, function(){
        // change to any color that was previously used.
        $("#"+id).css('background-color', '');
    }
  );
